In [1]:
import numpy as np
import pandas as pd

In [7]:
def dff(df):
    data=pd.read_csv(df,sep='\t')
    return data

In [8]:
dff('u.data')

       196   242  3  881250949
0      186   302  3  891717742
1       22   377  1  878887116
2      244    51  2  880606923
3      166   346  1  886397596
4      298   474  4  884182806
...    ...   ... ..        ...
99994  880   476  3  880175444
99995  716   204  5  879795543
99996  276  1090  1  874795795
99997   13   225  2  882399156
99998   12   203  3  879959583

[99999 rows x 4 columns]