In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as pl
import seaborn as sns

In [10]:
aisles=pd.read_csv('C:/Users/rissu/market basket analysis/aisles/aisles.csv')
departments=pd.read_csv('C:/Users/rissu/market basket analysis/departments/departments.csv')
order_products_prior=pd.read_csv('C:/Users/rissu/market basket analysis/order_products__prior/order_products__prior.csv')
order_products_train=pd.read_csv('C:/Users/rissu/market basket analysis/order_products__train/order_products__train.csv')
orders=pd.read_csv('C:/Users/rissu/market basket analysis/orders/orders.csv')
products=pd.read_csv('C:/Users/rissu/market basket analysis/products/products.csv')

In [12]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [16]:
departments.shape

(21, 2)

In [17]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [19]:
order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0