In [5]:
import seaborn as sns
import pandas as pd

In [4]:
!curl -O https://raw.githubusercontent.com/jakevdp/marathon-data/master/marathon-data.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  9  836k    9 81013    0     0   281k      0  0:00:02 --:--:--  0:00:02  281k
100  836k  100  836k    0     0  1196k      0 --:--:-- --:--:-- --:--:-- 1196k

In [8]:
data=pd.read_csv('marathon-data.csv')
data.head()

   age gender     split     final
0   33      M  01:05:38  02:08:51
1   32      M  01:06:26  02:09:28
2   31      M  01:06:49  02:10:42
3   38      M  01:06:16  02:13:45
4   31      M  01:06:32  02:13:59

In [15]:
data.dtypes,data.shape,data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37250 entries, 0 to 37249
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     37250 non-null  int64
 1   gender  37250 non-null  object
 2   split   37250 non-null  object
 3   final   37250 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

(age        int64
 gender    object
 split     object
 final     object
 dtype: object,
 (37250, 4),
 None)